* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #CBD5E1;
  color: #333;
}

header {
  background-color: #38BDF8;
  height: 120px;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
}

.header-left {
  color: white;
  margin-left: 15px;
  text-decoration: none;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 25px;
}
.header-left img {
  height: 50px;
  
}

.header-right {
  align-items: center;
}



.card {
  display: flex;
  max-width: 900px;
  margin: 40px auto;
  background: white;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  height: 400px;
}

.foto { height: 100%;
display: flex;}

.kanan {
  margin-top: 15px;
  margin-left: 15px;
  display: block;
}

h2 {
  color: #38BDF8;
  font-size: 50px;
}



.info {
  flex: 1;
  padding: 30px;
}

.info div {
  display: grid;
  grid-template-columns: 100px 1fr;
  margin-bottom: 10px;
}
.info {padding: 0px; padding-top: 10px;}
.inf {margin-bottom: 15px; font-size: 20px;}
@media (max-width: 900px) {
.card {
  max-width: 450px;
  height: 200px; }

h2 {
  font-size: 25px; }

  .info {font-size: 10px;}
.info div {
  grid-template-columns: 75px 1fr;
  margin-bottom: 0px;
}
.info {padding: 0px; padding-top: 10px;}
.inf {margin-bottom: 0; font-size: 10px;}


header {
  padding: 10px 20px;
}
.header-right {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
.header-left {
  color: white;
  margin-left: 15px;
  gap: 10px;
}
.header-left img {
  height: 35px;
  
}
}

@media (max-width: 480px) {  
  .card {
  max-width: 360px;
  height: 160px;}
  h2 {
  font-size: 15px; }

  header {height: 70px;}
    .info {font-size: 9px;}
.info div {
  grid-template-columns: 50px 1fr;
  margin-bottom: 0px;
  flex: 0;
  padding: 0px;
}
.header-right {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
h1 {font-size: 20px;}
}
